<% if user_signed_in? %>
  <li>
    <%= link_to('Journal Entries', '/menu') %>
  </li>
  <li>
    <%= link_to('Edit User', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
    <%= link_to('Register', new_user_registration_path) %>
  </li>
<% end %>