<!DOCTYPE html>
<html>
  <head>
    <title>Journal Web App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice" style="font-size:14px; color:#538b01; font-weight:bold; font-style:italic;"><%= notice %></p>
    <p class="alert" style="font-size:14px; color:#538b01; font-weight:bold; font-style:italic;" ><%= alert %></p>
    <ul id="nav">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
