<h1>User Menu</h1>

<h2>Entries</h2>
<table border="1">
  <% @entries.each do |entry| %>
    <tr>
      <td>date: <%= entry.created_at %></td>
      <td><%= entry.title %></td>
      <td><%= entry.content %></td>
    </tr>
  <% end %>
</table>

<h2>Add An Entry</h2>

<table>
<%= form_for :entry do |f| %>
    <tr>
      <td>Titlet</td><td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td>Content</td><td><%= f.text_area :content %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit %></td>
    </tr>
    </table>
<% end %>
